body{
    padding-top: 100px;

    h1{
        .error{
            background-color: red;
            border-radius: 10px;
            text-align: center;
            color: white;
            padding: 1em;
        }
        .connect{
            text-align: center;
            margin-bottom: 0.5em;
        }
        .my-separator{
            border-bottom: 2px solid #449d44;
        }
    }

    .size{
        width: 100%;
    }
}